.home {
  text-align: center;
}

.home-hero {
  background-color: #f5f5f5;
  padding: 50px 20px;
  margin-bottom: 30px;
}

.features {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background: #e0e0e0;
}

.feature {
  width: 30%;
}

.testimonials {
  padding: 20px;
  background-color: #f0f0f0;
}

.home-footer {
  padding: 10px;
  background-color: #d0d0d0;
}

.cta-button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cta-button:hover {
  background-color: #0056b3;
}
