/* Стили для навигационного меню */
.navbar {
    background-color: #333; /* Цвет фона */
    overflow: hidden; /* Убираем прокрутку, если пунктов слишком много */
  }
  
  .navbar a {
    float: left; /* Выстраиваем пункты меню горизонтально */
    display: block; /* Пункты меню в виде блоков */
    color: white; /* Цвет текста */
    text-align: center; /* Выравниваем текст по центру */
    padding: 14px 16px; /* Отступы внутри пунктов меню */
    text-decoration: none; /* Убираем подчеркивание у ссылок */
  }
  
  /* Задаем стиль для активного пункта меню */
  .navbar a.active {
    background-color: #4CAF50; /* Цвет фона активного пункта */
  }
  
  /* При наведении на пункт меню меняем цвет фона */
  .navbar a:hover {
    background-color: #ddd; /* Цвет фона при наведении */
    color: black; /* Цвет текста при наведении */
  }
  